@using Optional.Unsafe
@model Optional.Option<AlphaDev.Web.Models.BlogViewModel>

@{
    ViewBag.Title = "Home";
}

<h1 class="text-center">AlphaDev</h1>

<div class="container">
    <display value="@Model.HasValue">
        @await Component.InvokeAsync("Blog", Model.ValueOrFailure())
    </display>
</div>