@using NString
@model AlphaDev.Web.Models.BlogViewModel

<div class="bubble">
    @Html.Partial("Partial/_BlogHeader", Model)

    <div class="bubble-content">
        <markdown>
            @Model.Content?.Truncate(100)
        </markdown>
    </div>
    <div class="navigation-link">
        <a asp-controller="Posts" asp-action="Index" asp-route-id="@Model.Id">View more...</a>
    </div>
</div>