@model AlphaDev.Web.Models.CreatePostViewModel
@{
    ViewBag.Title = "Create Post";
}

@section styles
{
    <link href="~/lib/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet"/>
}

<h1 class="text-center">Create Post</h1>

<form id="createForm" method="post">
    <div class="col-lg-12">
        <div>
            <div>
                <label asp-for="Title"></label>
            </div>
            <div>
                <span asp-validation-for="Title" class="text-danger"></span>
                <input asp-for="Title" class="form-control"/>
            </div>
        </div>
        <div>
            <span asp-validation-for="Content" class="text-danger"></span>

            <textarea asp-for="Content" class="blogEditor"></textarea>
        </div>


    </div>
</form>

@section scripts
{
    <script src="~/lib/marked/lib/marked.js"></script>
    <script src="~/lib/bootstrap-markdown/js/bootstrap-markdown.js"></script>

    <script type="text/javascript">
        $('#Content').markdown({
            savable: true,
            onChange: function() {
                Prism.highlightAll();
            },
            onSave: function() {
                $('#createForm').submit();
            }
        })
    </script>
}