@using AlphaDev.Web.Extensions
@model AlphaDev.Web.Models.EditPostViewModel

@{
    ViewBag.Title = "Edit";
}

@section styles
{
    <link href="~/lib/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet"/>
}

<form id="editForm" method="post">
    <div class="text-center">
        <span asp-validation-for="Title" class="text-danger"></span>
        <label asp-for="Title"></label> - <input asp-for="Title" value="@Model.Title" class="form-control titleInput"/>
        @Html.DisplayFor(model => Model.Dates)
    </div>

    <div class="col-lg-12">
        <div>
            <span asp-validation-for="Content" class="text-danger"></span>
            <textarea asp-for="Content" class="blogEditor"></textarea>
        </div>
    </div>

    <input type="hidden" asp-for="Dates.Created"/>
    @HtmlHelperOptionExtensions.Hidden(Html, "Modified", Model.Dates.Modified, new {id = "Modified"})
</form>

@section scripts
{
    <script src="~/lib/marked/lib/marked.js"></script>
    <script src="~/lib/bootstrap-markdown/js/bootstrap-markdown.js"></script>

    <script type="text/javascript">
        $('#Content').markdown({
            savable: true,
            onChange: function() {
                Prism.highlightAll();
            },
            onSave: function() {
                $('#editForm').submit();
            }
        })
    </script>
}