@using AlphaDev.Web.Extensions
@model AlphaDev.Web.Support.Pager<AlphaDev.Web.Models.BlogViewModel>

@{
    ViewBag.Title = "Posts";
}
<style type="text/css">
    .pages {
        margin-top: 10px;
        background-color: #ccc;
        padding-left: 10px;
        padding-right: 10px;
        display: inline-block;
        -ms-border-radius: 25px;
        border-radius: 25px;
    }

    .page {
        color: #444;
    }

    a.page {
        text-decoration: underline;
    }
</style>

<h1 class="text-center">Posts</h1>

<div class="blog container">
    @foreach (var blog in Model)
    {
        @await Component.InvokeAsync("BlogPreview", new { blogViewModel = blog })
    }

    <div class="pages">
        Page:
        <span class="page">@Model.FirstPage.Value</span>
        @foreach (var pageNumber in Model.Pages)
        {
            <a asp-controller="Posts" asp-action="Page" asp-route-page="@pageNumber" class="page">@pageNumber</a>
        }

        @Model.AuxiliaryPage.Match(i => Html.ActionLink("...", "Page", "Posts", new {page = i}, new{@class="page"}),
            () => Html.Raw(""))
    </div>
</div>