@model AlphaDev.Web.Models.BlogViewModel

<div class="bubble blog">
    @Html.Partial("Partial/_BlogHeader", Model)

    <div class="bubble-content">
        <markdown>@Html.DisplayTextFor(model => model.Content)</markdown>
    </div>
</div>