@model BlogViewModel

<div class="bubble blog">
    <partial name="Partial/_BlogHeader" model="Model"/>
    <div class="bubble-content">
        <markdown>@Html.DisplayTextFor(model => model.Content)</markdown>
    </div>
</div>