@model AlphaDev.Web.Models.DatesViewModel

<div class="text-center dates nomargin" style="font-size: 12px">
    <strong>Created:</strong>
    <span class="created-date">
        @FormattableString.Invariant($"{Model.Created:dddd, MMMM dd, yyyy}")
    </span>
    <display value="@Model.Modified.HasValue">
        <strong>Modified:</strong>
        <span class="modified-date">
            @Model.Modified.Match(time => FormattableString.Invariant($"{time:dddd, MMMM dd, yyyy}"), () => string.Empty)
        </span>
    </display>
</div>