body {
    min-width: 320px;
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }

/* styles for validation helpers */

.field-validation-error { color: #b94a48; }

.field-validation-valid { display: none; }

input.input-validation-error { border: 1px solid #b94a48; }

input[type="checkbox"].input-validation-error { border: 0 none; }

.validation-summary-errors { color: #b94a48; }

.validation-summary-valid { display: none; }

.bubble div:not(:first-of-type) {
    background-color: #ddd;
    margin-top: 0;
    padding: 8px;
    padding-top: 0;
}

.bubble div:last-of-type {
    -ms-border-radius: 25px;
    -ms-border-top-left-radius: 0;
    -ms-border-top-right-radius: 0;
    border-radius: 25px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.bubble div:first-of-type {
    -ms-border-bottom-left-radius: 0;
    -ms-border-bottom-right-radius: 0;
    -ms-border-radius: 25px;
    background-color: #bbb;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: 25px;
    margin-bottom: 0;
    margin-top: 4px;
    padding: 3px;
}

.nomargin { margin: 0 !important; }

body .bubble .bubble-content { padding-top: 4px; }

body .bubble-content pre { margin: 0; }

.post { margin-top: 30px; }

.blogEditor {
    height: 450px;
    max-width: 100%;
}

.bubble form button, .bubble .edit {
    background-color: #777;
    border: solid 1px #555;
}

.bubble form button.delete:hover { background-color: #f00; }

.bubble a.edit:hover {
    background-color: #00f;
    border-color: #00f;
}

.bubble form, .bubble .edit {
    margin-right: 10px;
    transform: translate(-10%, 15%);
}

.bubble .actionText { font-family: Lucida Console, monospace; }

.titleInput { display: inline; }

.bubbleTitle { padding-top: 3px; }

@media screen and (min-width: 531px) {
    br.smartBreak { display: none; }
}

.pages {
    -ms-border-radius: 25px;
    background-color: #ccc;
    border-radius: 25px;
    display: inline-block;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.page { color: #444; }

a.page { text-decoration: underline; }

.page.activePage {
    background-color: #ddd;
    border: 1px solid #000;
    font-weight: bold;
}