@model ErrorModel

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error @(Html.DisplayFor(model => model.Status)).</h1>
<h2 class="text-danger">@Html.DisplayFor(model => model.Message)</h2>