<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a asp-area="" asp-controller="Default" asp-action="Index" class="navbar-brand">AlphaDev</a>
</div>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>
            <a asp-area="" asp-controller="Posts" asp-action="Page" asp-route-page="1">Posts</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Info" asp-action="About">About</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Info" asp-action="Contact">Contact</a>
        </li>
        <display value="@User.Identity.IsAuthenticated">
            <li>
                <a asp-area="" asp-controller="Posts" asp-action="Create">Create Post</a>
            </li>
        </display>
    </ul>
    <display value="@User.Identity.IsAuthenticated">
        <form asp-controller="Account" asp-action="Logout" method="post" class="navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
                </li>
            </ul>
        </form>
    </display>
</div>